
<div>
    <h1 class="d-inline-block">Freemining</h1>
    <h6 class="d-inline-block">Mining & Fullnodes tools</h6>
</div>

<hr />

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card bg-secondary mx-2 my-3">
            <div class="card-header bg-success">
                <img src="/img/mining2.png" class="rounded me-2" style="width:32px; height:32px;" />
                <a class="nav-link text-light d-inline-block"" href="rig/">Rig Manager</a>
            </div>
            <div class="card-body">
                Tous les outils pour gérer un rig de minage de crypto-monnaies.
                <br />
                Installation des miners, programmation des feuilles de routes, start/stop/status/monitoring des miners...
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card bg-secondary mx-2 my-3">
            <div class="card-header bg-info">
                <img src="/img/farm1.png" class="rounded me-2" style="width:32px; height:32px;" />
                <a class="nav-link text-light d-inline-block"" href="farm/">Farm Manager</a>
            </div>
            <div class="card-body">
                Tous les outils pour gérer une ferme de rigs de minage.
                <br />
                Visualisez et contrôler tous vos rigs en un seul endroit.
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card bg-secondary mx-2 my-3">
            <div class="card-header bg-warning">
                <img src="/img/fullnode1.png" class="rounded me-2" style="width:32px; height:32px;" />
                <a class="nav-link text-light d-inline-block" href="node/">Node Manager</a>
            </div>
            <div class="card-body">
                Tous les outils pour gérer vos fullnodes de différentes blockchains.
                <br />
                Installation des fullnodes, start/stop/status/monitoring des fullnodes...
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card bg-secondary mx-2 my-3">
            <div class="card-header bg-danger">
                <img src="/img/pool1.png" class="rounded me-2" style="width:32px; height:32px;" />
                <a class="nav-link text-light d-inline-block"" href="pool/">Pool Manager</a>
            </div>
            <div class="card-body">
                Tous les outils pour créer et gérer des pools de mining.
                <br />
                Installation des outils, start/stop/status/monitoring des services.
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>

</div>


