
Node status

<hr />

<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Fullnode</th>
        <th class="text-end">Uptime</th>
        <th class="text-end">Blocks</th>
        <th class="text-end">Headers</th>
        <th class="text-end">Best Time</th>
        <th class="text-end">Peers</th>
        <th class="text-end">Size on disk</th>
        <th class="text-end">PID</th>
        <th>Wallet Addr.</th>
        <th class="text-end">Wallet balance</th>
    </tr>
</thead>
<tbody>
    <%- nodeInfos.status.runningFullnodesAliases.map(runningFullnodeAliase => {
        const fullnodeName = runningFullnodeAliase.fullnode;
        const fullnodeAlias = runningFullnodeAliase.alias;
        const fullnodeFullName = `${fullnodeName}-${fullnodeAlias}`;
        const uptime = (Date.now() - runningFullnodeAliase.dateStart) / 1000;
        const pid = runningFullnodeAliase.pid;

        const stats = nodeInfos.status.fullnodesStats[fullnodeFullName] || {};
        const coin = (stats.fullnode || {}).coin || '';
        const blocks = Number((stats.blockchain || {}).blocks);
        const headers = Number((stats.blockchain || {}).headers);
        const bestBlockHash = (stats.blockchain || {}).bestBlockHash || '-';
        const bestBlockTime = Number((stats.blockchain || {}).bestBlockTime);
        const peers = Number((stats.blockchain || {}).peers);
        const sizeOnDisk = Number((stats.blockchain || {}).sizeOnDisk);
        const walletAddress = (stats.wallet || {}).address || '-';
        const walletBalance = Number((stats.wallet || {}).balance);
        const blockDate = new Date(bestBlockTime*1000) || null;
        const blockDateTxt = bestBlockTime ? blockDate.toJSON().slice(0, 10).replace('T', ' ') : '-';

        let html = ``;
        html += `<tr>`;
        html += `  <td><img src="/img/fullnodes/${fullnodeName}.webp" style="width:16px;" /> ${fullnodeName}<br /><span class="text-muted">${fullnodeAlias}</span></td>`;
        html += `  <td class="text-end">${formatNumber(uptime, 'seconds')}</td>`;
        html += `  <td class="text-end">${formatNumber(blocks)}</td>`;
        html += `  <td class="text-end">${formatNumber(headers)}</td>`;
        html += `  <td class="text-end">${blockDateTxt}</td>`;
        html += `  <td class="text-end">${peers}</td>`;
        html += `  <td class="text-end">${formatNumber(sizeOnDisk, 'size')}</td>`;
        html += `  <td class="text-end">${pid}</td>`;
        html += `  <td>${walletAddress}</td>`;
        html += `  <td class="text-end">${walletBalance} ${coin}</td>`;
        html += `</tr>`;

        return html;

    }).join('') %>
</tbody>
</table>

<hr />

<pre class="d-none">
<%- JSON.stringify(nodeInfos, null, 4) %>
</pre>
