
NODE HOME

<hr />

<a href="status">Node status</a>
<br />
<br />
<% if (monitorStatus) { %>
    Monitor is running.
    <a href="monitor-stop">Stop monitor</a>
<% } else { %>
    Monitor is not running.
    <a href="monitor-start">Start monitor</a>
<% } %>
<br />
<br />

<hr />

<h2>Running fullnodes:</h2>
<%
//const runningFullnodes = Object.keys(nodeInfos.fullnodesInfos);
%>
<% runningFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        <% if (managedFullnodes.includes(fullnodeName)) { %>
            [<a href="fullnodes-run?fullnode=<%- fullnodeName %>">status</a>]
        <% } %>
        [<a href="fullnodes-run?fullnode=<%- fullnodeName %>&action=stop">stop</a>]
    </li>
<% }) %>

<hr />

<h2>Installed fullnodes:</h2>
<% installedFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        <% if (runnableFullnodes.includes(fullnodeName) && ! runningFullnodes.includes(fullnodeName)) { %>
            [<a href="fullnodes-run?fullnode=<%- fullnodeName %>&action=start">start</a>]
        <% } %>
    </li>
<% }) %>


<hr />

<h2>Installable fullnodes:</h2>
<% installableFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        <% if (! installedFullnodes.includes(fullnodeName)) { %>
            [<a href="fullnodes-install?fullnode=<%- fullnodeName %>&action=start">install</a>]
        <% } %>
    </li>
<% }) %>
<hr />

<h2>Runnable fullnodes:</h2>
<% runnableFullnodes.forEach(fullnodeName => { %>
    <li><%- fullnodeName %></li>
<% }) %>
<hr />

<h2>Managed fullnodes:</h2>
<% managedFullnodes.forEach(fullnodeName => { %>
    <li><%- fullnodeName %></li>
<% }) %>

