
<div class="row">
    <div class="col-8">
        <h1>NODE HOME</h1>
    </div>
    <div class="col-4 text-end">
        <img src="/img/fullnode1.png" class="rounded me-2" style="width:128px; height:128px;" />
    </div>
</div>

<hr />

<a href="status">Node status</a>
<br />
<a href="status.json">JSON status</a>
<br />
<br />
<% if (monitorStatus) { %>
    Monitor is running.
    <a href="monitor-run">Stop monitor</a>
<% } else { %>
    Monitor is not running.
    <a href="monitor-run">Start monitor</a>
<% } %>
<br />
<br />

<hr />

<h2>Running fullnodes:</h2>
<% runningFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        [<a href="fullnodes/<%- fullnodeName %>/run">Manage...</a>]
        <% if (managedFullnodes.includes(fullnodeName)) { %>
            <a class="btn btn-primary btn-sm" href="fullnodes/<%- fullnodeName %>/run?action=status">JSON Status</a>
        <% } %>
    </li>
<% }) %>

<hr />

<h2>Installed fullnodes:</h2>
<% installedFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        <% if (runnableFullnodes.includes(fullnodeName) && ! runningFullnodes.includes(fullnodeName)) { %>
            <a class="btn btn-primary btn-sm" href="fullnodes/<%- fullnodeName %>/run">Start...</a>
        <% } %>
    </li>
<% }) %>


<hr />

<h2>Installable fullnodes:</h2>
<% installableFullnodes.forEach(fullnodeName => { %>
    <li>
        <%- fullnodeName %>
        &nbsp;&nbsp;
        <% if (! installedFullnodes.includes(fullnodeName)) { %>
            <a class="btn btn-primary btn-sm" href="fullnodes/<%- fullnodeName %>/install">Install...</a>
        <% } %>
    </li>
<% }) %>
<hr />

<h2>Runnable fullnodes:</h2>
<% runnableFullnodes.forEach(fullnodeName => { %>
    <li><%- fullnodeName %></li>
<% }) %>
<hr />

<h2>Managed fullnodes:</h2>
<% managedFullnodes.forEach(fullnodeName => { %>
    <li><%- fullnodeName %></li>
<% }) %>

