
body {
    min-height:75rem;
    padding-top:4.5rem !important;
    /* padding-bottom: 4.5rem !important; */
    max-width:none !important;
}


/* dark mode */
body.dark {
    background-color: #1c1c1e;
    color: hsl(0, 3%, 71%);
}
body.dark a:not(.navbar-brand, .nav-link, .btn) {
    color: rgb(77, 132, 183);
}
body.dark img {
    filter: grayscale(20%);
}
body.dark .alert-light {
    --bs-alert-bg: #2e2d2d;
    --bs-alert-color: hwb(0 61% 38%);
    --bs-alert-border-color: #3e3e3e;
    border-color: #3e3e3e;
}
body.dark pre {
    background-color: #2e2d2d;
}
body.dark .table {
    --bs-table-bg: #2e2d2d;
    --bs-table-color: hsl(0, 3%, 71%);
}
body.dark .form-control, body.dark .form-select {
    background-color: #1c1c1e;
    color: hsl(0, 3%, 71%);
    border-color: #3e3e3e;
}
body.dark h1 {
    border-color: #3e3e3e;
}
body.dark h2 {
    border-color: #3e3e3e;
}


