
RIG Config editor

<hr />

<a class="btn btn-primary btn-sm m-1" href="config/rig">Rig</a>
<br />
<a class="btn btn-primary btn-sm m-1" href="config/coins">coins</a>
<a class="btn btn-primary btn-sm m-1" href="config/coins-wallets">coins wallets</a>
<a class="btn btn-primary btn-sm m-1" href="config/coins-pools">coins pools</a>
<br />
<a class="btn btn-primary btn-sm m-1" href="config/miners">miners</a>
<a class="btn btn-primary btn-sm m-1" href="config/coins-miners">coins miners</a>

<hr />

<pre>
<%- JSON.stringify(config.rig, null, 4) %>
</pre>
