 
Miner <%=miner%> - install

<hr />

<%
const runningMiners = Object.entries(allMiners).filter((entry) => entry[1].running).map(entry => entry[0]);
const installedMiners = Object.entries(allMiners).filter((entry) => entry[1].installed).map(entry => entry[0]);
const installableMiners = Object.entries(allMiners).filter((entry) => entry[1].installable).map(entry => entry[0]);
const runnableMiners = Object.entries(allMiners).filter((entry) => entry[1].runnable).map(entry => entry[0]);
const managedMiners = Object.entries(allMiners).filter((entry) => entry[1].managed).map(entry => entry[0]);

const installStatus = false; // TODO
const uninstallStatus = false; // TODO
%>


<form id="form-install" method="post">
    <input type="hidden" id="action" name="action" value="" />

    Miner is

    <%- (() => {
        let html = '';

        if (minerStatus) {
            html += '<span class="badge bg-warning">running</span>...';

        } else {
            html += '<span class="badge bg-success">not running</span>';
        }

        return html;
    })() %>

    <%- (() => {
        let html = '';

        if (installableMiners.includes(miner)) {
            html += '<span class="badge bg-success">installable</span>';

        } else {
            html += '<span class="badge bg-danger">not installable</span>';
        }

        return html;
    })() %>

    <%- (() => {
        let html = '';

        if (installedMiners.includes(miner)) {
            html += '<span class="badge bg-warning">installed</span>';

        } else {
            html += '<span class="badge bg-success">not installed</span>';
        }

        return html;
    })() %>

    <br />
    <br />

    <%- (() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopMinerInstall()" href="javascript:void(0)">Stop install</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?miner=' + miner + '&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! minerStatus && ! uninstallStatus && installableMiners.includes(miner)) {
                if (installedMiners.includes(miner)) {
                    html += ' <a class="btn btn-warning btn-sm" onclick="startMinerInstall()" href="javascript:void(0)">Re-install</a>';

                } else {
                    html += ' <a class="btn btn-primary btn-sm" onclick="startMinerInstall()" href="javascript:void(0)">Install</a>';
                }
            }
        }

        return html;
    })() %>

    <br />

    <%- (() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="miner-uninstall?miner=' + miner + '">Stop uninstall</a>';
            html += ' <a class="btn btn-primary btn-sm" href="miner-uninstall?miner=' + miner + '&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
        }

        return html;
    })() %>
</form>


<script>
const minerName = '<%=miner%>';

function startMinerInstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    startMinerInstallAjax(minerName, onStart, onSuccess, onFail);
}

function stopMinerInstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    stopMinerInstallAjax(minerName, onStart, onSuccess, onFail);
}
</script>
