
<div class="row">
    <div class="col-8">
        <h1>RIG HOME</h1>
    </div>
    <div class="col-4 text-end">
        <img src="/img/mining2.png" class="rounded me-2" style="width:128px; height:128px;" />
    </div>
</div>


<hr />

<h2>Rig status:</h2>
<a href="status">Rig status</a>
<br />
<a href="status.json">JSON status</a>
<br />
<br />

<% if (monitorStatus) { %>
    Monitor is running.
    <a href="monitor-run">Stop monitor</a>
<% } else { %>
    Monitor is not running.
    <a href="monitor-run">Start monitor</a>
<% } %>
<br />
<br />

<% if (rigInfos.status?.farmAgentStatus) { %>
    Farm connection is active.
    Server: <%=rigInfos.config?.farmAgent.host%>:<%=rigInfos.config?.port%>
    <a href="farm-agent/run">Stop connection</a>

<% } else { %>
    Farm connection is not active.
    <a href="farm-agent/run">Start connection</a>
<% } %>
<br />
<br />

<hr />

<h2>Running miners:</h2>
<% runningMiners.forEach(minerName => { %>
    <li>
        <%- minerName %>
        &nbsp;&nbsp;
        <a class="btn btn-primary btn-sm" href="miners/<%- minerName %>/run">Manage...</a>
        <% if (managedMiners.includes(minerName)) { %>
            <a class="btn btn-primary btn-sm" href="miners/<%- minerName %>/run?action=status">JSON Status</a>
        <% } %>
    </li>
<% }) %>

<hr />

<h2>Installed miners:</h2>
<% installedMiners.forEach(minerName => { %>
    <li>
        <%- minerName %>
        &nbsp;&nbsp;
        <% if (runnableMiners.includes(minerName) && ! runningMiners.includes(minerName)) { %>
            <a class="btn btn-primary btn-sm" href="miners/<%- minerName %>/run">Start...</a>
        <% } %>
    </li>
<% }) %>


<hr />

<h2>Installable miners:</h2>
<% installableMiners.forEach(minerName => { %>
    <li>
        <%- minerName %>
        &nbsp;&nbsp;
        <% if (! installedMiners.includes(minerName)) { %>
            <a class="btn btn-primary btn-sm" href="miners/<%- minerName %>/install">Install...</a>
        <% } %>
    </li>
<% }) %>
<hr />

<h2>Runnable miners:</h2>
<% runnableMiners.forEach(minerName => { %>
    <li><%- minerName %></li>
<% }) %>
<hr />

<h2>Managed miners:</h2>
<% managedMiners.forEach(minerName => { %>
    <li><%- minerName %></li>
<% }) %>

