

<h1 class="h3">Rig Management - Status</h1>

<hr />

<div>

    <h1 class="d-inline-block">
        RIG: <b><%=rigInfos.rig.name%></b>
    </h1>

    <div class="d-inline-block h3 ms-3">
        <% const dataAge = (Date.now() - rigInfos.dataDate) / 1000 %>
        <%- dataAge > 40 ? 
            `<span class="badge bg-danger">Offline</span>`
            : (
                Object.keys(rigInfos.status.minersStats).length == 0 || dataAge > 20 ?
                    `<span class="badge bg-warning">IDLE</span>`
                :
                    `<span class="badge bg-success">UP</span>`
            )
        %>
    </div>
    <div class="d-inline-block h3 ms-3">
        <a href="./status" class="btn btn-secondary">🌀 refresh</a>
    </div>

    <small class="d-inline-block ms-3">
        Freshness: <span id="dataAge"><%= formatNumber(dataAge, 'seconds') %></span> ago
    </small>

</div>

<br />



<h2>Mining services</h2>

<% if (! rigInfos.status.monitorStatus) { %>
    <div class="alert alert-warning">Warning: JSON status requires rig monitor to be started. Click here to <a href="/rig/monitor-run">start monitor</a></div>
<% } %>

<% Object.entries(rigInfos.status.runningMinersAliases).forEach(minerEntry => {
    const [ minerNameName, minerConfig ] = minerEntry;

    Object.entries(minerConfig).forEach(aliasEntry => {
        const [ minerFullName, aliasConfig ] = aliasEntry;
        const { miner, alias, pid, args, params } = aliasConfig;
        //const minerFullName = `${miner}-${alias}`;
        const minerFullTitle = (miner === alias || ! alias) ? miner : `${alias} (${miner})`;

        if (minerFullName in rigInfos.status.minersStats) {
            // service API is UP

            const service = rigInfos.status.minersStats[minerFullName];

            %>
            <div id="rig-service-<%=minerFullName.replaceAll('.', '-')%>" class="alert alert-success rig-service shadow">
                <div class="row">
                    <div class="col-6 col-lg-2 text-truncate"><img src="/img/coins/<%=params.coin%>.webp" class="rounded me-2" style="width:32px; height:32px;" /> <b><%=params.coin || '-'%></b></div>
                    <div class="col-6 col-lg-3 text-truncate"><b>Hashrate</b> <br /> <span class="text-dark fs-5 bg-light rounded p-1"><%=formatNumber(service.miner.hashRate, 'size')%>H/sec.</span></div>
                    <div class="col-4 col-lg-2 text-truncate"><b>Algo</b> <br /> <%=service.miner.algo || params.algo%></div>
                    <div class="col-4 col-lg-2 text-truncate"><b>Uptime</b> <br /> <%=formatNumber(service.miner.uptime, 'seconds')%></div>
                    <div class="col-4 col-lg-2 text-truncate text-center">
                        <div class="bg-dark text-light rounded p-1 text-center"><%=service.miner.name%><br /><small class="text-muted"><%=alias%></small></div>
                    </div>
                    <div class="col-12 col-lg-1">
                        <input type="button" value="Stop" class="btn btn-danger w-100" onclick="stopMiner('<%=miner%>', '<%=alias%>')" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-2 text-truncate"><b>Worker</b> <%=service.miner.worker || (params.poolUser.split('.')[1] || '-')%></div>
                    <div class="col-12 col-lg-4 text-truncate"><b>Pool url</b> <%=service.pool.url || params.poolUrl%></div>
                    <div class="col-12 col-lg-6 text-truncate"><b>Pool account</b> <%=service.pool.account || params.poolUser%></div>
                </div>

                <%-(false && service.devices.cpus.length + service.devices.gpus.length) > 0 ? '<h4 class="mt-2">Mining devices</h4>' : ''%>

                <div>
                    <%
                    if (service.devices.cpus.length > 0) {
                        const cpu = service.devices.cpus[0];

                        %>
                        <div class="border border-light text-light rounded bg-<%= (cpu.hashRate ? "success" : "warning") %> p-1 my-2">
                            <div class="row">
                                <div class="col-2 col-lg-1"><img src="/img/cpu4.png" class="rounded me-2" style="width:48px; height:48px;" /></div>
                                <div class="col-2 col-lg-1"><b>ID</b> <br /> 0</div>
                                <div class="col-8 col-lg-8 text-truncate"><b>Name</b> <br /> <%=cpu.name || [rigInfos.systemInfos.cpu.manufacturer, rigInfos.systemInfos.cpu.brand].join(' ')%></div>
                                <div class="col-12 col-lg-2 text-truncate text-end"><b>Hashrate</b> <br /> <span class="text-dark fs-5 bg-light rounded p-1"><%=formatNumber(cpu.hashRate, 'size')%>H/sec.</span></div>
                            </div>
                        </div>
                        <%
                    }

                    if (service.devices.gpus.length > 0) {
                        service.devices.gpus.forEach(gpu => {
                            const isNvidia = gpu.name.toLowerCase().includes('nvidia');
                            const isAMD = gpu.name.toLowerCase().includes('amd');

                            let gpuImg = '/img/gpu.trans.png';
                            if (isNvidia) {
                                gpuImg = '/img/gpu5_1.trans.png';
                            } else if (isAMD) {
                                gpuImg = '/img/gpu6_4.trans.png';
                            }

                            %>
                            <div class="border border-light text-light rounded bg-<%= (gpu.hashRate ? "success" : "warning") %> p-1 my-2">
                                <div class="row">
                                    <div class="col-2 col-lg-1"><img src="<%=gpuImg%>" class="rounded me-2" style="width:48px; height:48px;" /></div>
                                    <div class="col-2 col-lg-1"><b>ID</b> <br /> <%=gpu.id%></div>
                                    <div class="col-8 col-lg-3 text-truncate"><b>Name</b> <br /> <%=gpu.name%></div>
                                    <div class="col-4 col-lg-1 text-truncate text-end"><b>Power</b> <br /> <%=gpu.power%> W</div>
                                    <div class="col-4 col-lg-2 text-truncate text-end"><b>Temperature</b> <br /> <%=gpu.temperature%>°</div>
                                    <div class="col-4 col-lg-2 text-truncate text-end"><b>Fan speed</b> <br /> <%=gpu.fanSpeed%>%</div>
                                    <div class="col-12 col-lg-2 text-truncate text-end fs-5"><b>Hashrate</b> <br /> <span class="text-dark fs-5 bg-light rounded p-1"><%=formatNumber(gpu.hashRate, 'size')%>H/sec.</span></div>
                                </div>
                            </div>
                            <%
                        });
                    }

                    %>
                </div>
            </div>
            <%

        } else {
            // service API is NOT UP

            %>
                <div id="rig-service-<%=minerFullName.replaceAll('.', '-')%>" class="alert alert-warning rig-service">
                    <div class="row">
                        <div class="col-12 col-lg-2 text-truncate">
                            <div class="alert alert-dark h4 text-center"><%=miner%><br /><small class="text-muted"><%=alias%></small></div>
                        </div>
                        <div class="col-4 col-lg-2 text-truncate"></div>
                        <div class="col-4 col-lg-2 text-truncate"></div>
                        <div class="col-4 col-lg-2 text-truncate"></div>
                        <div class="col-12 col-lg-3 text-truncate"></div>
                        <div class="col-12 col-lg-1">
                            <input type="button" value="Stop" class="btn btn-danger w-100" onclick="stopMiner('<%=miner%>', '<%=alias%>')" />
                        </div>
                    </div>
                    <div class="alert alert-warning">
                        Starting... <%=minerFullName%>
                    </div>
                </div>
            <%
        }
    });

}) %>
<input type="button" value="Start new service..." class="btn btn-warning" onclick="startMiner()" />
<br />
<br />
<br />


<h2>System informations</h2>

<div class="alert alert-secondary shadow">
    <div class="row">
        <div class="mb-2 col-6 col-lg-2"><b>Hostname</b> <br /> <%= rigInfos.rig.hostname %></div>
        <div class="mb-2 col-6 col-lg-2"><b>IP</b> <br /> <%= rigInfos.rig.ip %></div>
        <div class="mb-2 col-12 col-lg"><b>OS</b> <br /> <%=rigInfos.systemInfos.os.distro%><%=(rigInfos.systemInfos.os.codename ? ` (${rigInfos.systemInfos.os.codename})` : '')%></div>
        <div class="mb-2 col-4 col-lg-1"><b>Load avg</b> <br /> <%=formatNumber(rigInfos.usage.cpuLoad)%>%</div>
        <div class="mb-2 col-4 col-lg-2"><b>Uptime</b> <br /> <%= formatNumber(rigInfos.usage.uptime, 'seconds') %></div>
        <div class="mb-2 col-4 col-lg-2"><b>Memory usage</b> <br /> <%= formatNumber(rigInfos.usage.memory.used, 'size') %>B / <%= formatNumber(rigInfos.usage.memory.total, 'size') %>B</div>
    </div>
</div>

<br />

<h2>Hardware devices</h2>

<div class="alert alert-secondary shadow">
    <div class="row mb-1">
        <div class="col-12">
            <div class="border shadow rounded bg-info m-1 p-1">
                <img src="/img/cpu4.png" class="rounded me-2" style="width:48px; height:48px;" />
                <b>CPU</b>: <span class="fw-bold"><%= rigInfos.systemInfos.cpu.manufacturer %> <%= rigInfos.systemInfos.cpu.brand %></span> (<%= rigInfos.systemInfos.cpu.physicalCores %> cores, <%= rigInfos.systemInfos.cpu.cores %> threads)
            </div>
        </div>
    </div>

    <div class="row">
        <% rigInfos.systemInfos.gpus.forEach(gpu => {
            const isNvidia = gpu.vendor.toLowerCase().includes('nvidia') || gpu.model.toLowerCase().includes('nvidia');
            const isAMD = gpu.vendor.toLowerCase().includes('amd') || gpu.model.toLowerCase().includes('amd');

            let gpuImg = '/img/gpu.trans.png';
            if (isNvidia) {
                gpuImg = '/img/gpu5_1.trans.png';
            } else if (isAMD) {
                gpuImg = '/img/gpu6_4.trans.png';
            }

            %>
                <div class="col-12 col-lg-6">
                    <div class="border shadow rounded bg-info m-1 p-1">
                        <img src="<%=gpuImg%>" class="rounded me-2" style="width:48px; height:48px;" />
                        <b>GPU</b> #<%=gpu.idx%>: <span class="fw-bold"><%=gpu.model%></span> (<%=gpu.vendor%>)
                    </div>
                </div>
            <%
        }) %>
    </div>
</div>



<script>
const minerName = '';

function startMiner(minerAlias='') {
    const onStart = null;
    const onSuccess = () => window.location.reload();
    const onFail = null;
    startMinerModal(minerName, minerAlias, onStart, onSuccess, onFail);
}

function stopMiner(minerName, minerAlias) {
    const minerFullName = `${minerName}-${minerAlias}`;
    const onStart = null;
    const onSuccess = () => {
        jQuery(`#rig-service-${minerFullName.replaceAll('.', '-')}`).remove();
        jQuery('#startMinerModal').remove();
    };
    const onFail = null;
    stopMinerAjax(minerName, minerAlias, onStart, onSuccess, onFail);
}
</script>



<%
const availableMinersCoins = Object.keys(rigInfos.config.coinsMiners);
const availableCoins = Object.keys(rigInfos.config.coinsUserconf).filter(coin => availableMinersCoins.includes(coin));
%>
<script>

const coinsUserconf = <%- JSON.stringify(rigInfos.config.coinsUserconf, null, 0) %>;

const miners = <%- JSON.stringify(rigInfos.config.miners, null, 0) %>;

const coinsMiners = <%- JSON.stringify(rigInfos.config.coinsMiners, null, 0) %>;

const availableCoins = <%- JSON.stringify(availableCoins, null, 0) %>;

</script>

