

<h1 class="h3">Rig Management - Status</h1>

<hr />

<div>

    <h1 class="d-inline-block">
        RIG: <b><%=rigInfos.rig.name%></b>
    </h1>

    <div class="d-inline-block h3 ms-3">
        <% const dataAge = (Date.now() - rigInfos.dataDate) / 1000 %>
        <%- dataAge > 40 ? 
            `<span class="badge bg-danger">Offline</span>`
            : (
                Object.keys(rigInfos.status.minersStats).length == 0 || dataAge > 20 ?
                    `<span class="badge bg-warning">IDLE</span>`
                :
                    `<span class="badge bg-success">UP</span>`
            )
        %>
    </div>
    <div class="d-inline-block h3 ms-3">
        <a href="./status" class="btn btn-secondary">🌀 refresh</a>
    </div>

    <small class="d-inline-block ms-3">
        Freshness: <span id="dataAge"><%= formatNumber(dataAge, 'seconds') %></span> ago
    </small>

</div>

<br />


<h2>System informations</h2>

<div class="alert alert-secondary">
    <div class="row">
        <div class="mb-2 col-6 col-lg-2"><b>Hostname</b> <br /> <%= rigInfos.rig.hostname %></div>
        <div class="mb-2 col-6 col-lg-2"><b>IP</b> <br /> <%= rigInfos.rig.ip %></div>
        <div class="mb-2 col-12 col-lg"><b>OS</b> <br /> <%=rigInfos.systemInfos.os.distro%><%=(rigInfos.systemInfos.os.codename ? ` (${rigInfos.systemInfos.os.codename})` : '')%></div>
        <div class="mb-2 col-4 col-lg-1"><b>Load avg</b> <br /> <%=formatNumber(rigInfos.usage.cpuLoad)%>%</div>
        <div class="mb-2 col-4 col-lg-2"><b>Uptime</b> <br /> <%= formatNumber(rigInfos.usage.uptime, 'seconds') %></div>
        <div class="mb-2 col-4 col-lg-2"><b>Memory usage</b> <br /> <%= formatNumber(rigInfos.usage.memory.used, 'size') %>B / <%= formatNumber(rigInfos.usage.memory.total, 'size') %>B</div>
    </div>
</div>

<br />

<h2>Hardware devices</h2>

<div class="alert alert-secondary">
    <div class="row mb-1">
        <div class="col-12">
            <b>CPU</b>
        </div>
        <div class="col-12">
            <div class="border border-dark rounded bg-light m-1 p-1">
                <%= rigInfos.systemInfos.cpu.manufacturer %> <%= rigInfos.systemInfos.cpu.brand %> (<%= rigInfos.systemInfos.cpu.physicalCores %> cores, <%= rigInfos.systemInfos.cpu.cores %> threads)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <b>GPU</b>
        </div>
        <%- rigInfos.systemInfos.gpus.map(gpu => {
            return `
                <div class="col-12 col-lg-6">
                    <div class="border border-primary rounded bg-light m-1 p-1">
                        #${gpu.idx} : ${gpu.model} (${gpu.vendor})
                    </div>
                </div>
            `;
        }).join('') %>
    </div>
</div>

<br />


<h2>Mining services</h2>

<% if (! rigInfos.status.monitorStatus) { %>
    <div class="alert alert-warning">Warning: JSON status requires rig monitor to be started. Click here to <a href="/rig/monitor-run">start monitor</a></div>
<% } %>

<%- rigInfos.status.runningMinersAliases.map(runningMiner => {
    const { miner, alias, pid } = runningMiner;
    const minerFullName = `${miner}-${alias}`;
    const minerFullTitle = (miner === alias || ! alias) ? miner : `${alias} (${miner})`;

    if (minerFullName in rigInfos.status.minersStats) {
        // service API is UP

        const service = rigInfos.status.minersStats[minerFullName];
        let devicesHtml = '';

        if (service.devices.cpus.length > 0) {
            const cpu = service.devices.cpus[0];

            devicesHtml += `
            <div class="border border-dark rounded bg-light">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2"><b>CPU</b> # <br /> ${cpu.id}</div>
                    <div class="col-7"><b>Name</b> <br /> ${cpu.name}</div>
                    <div class="col-2"><b>Hashrate</b> <br /> ${formatNumber(cpu.hashRate, 'size')}H/sec.</div>
                </div>
            </div>
            `;
        }

        if (service.devices.gpus.length > 0) {
            service.devices.gpus.forEach(gpu => {
                devicesHtml += `
                <div class="border border-dark rounded bg-light my-2">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2"><b>GPU #</b> <br /> ${gpu.id}</div>
                        <div class="col-5"><b>Name</b> <br /> ${gpu.name}</div>
                        <div class="col-1"><b>Temperature</b> <br /> ${gpu.temperature}°</div>
                        <div class="col-1"><b>Fan speed</b> <br /> ${gpu.fanSpeed}%</div>
                        <div class="col-2"><b>Hashrate</b> <br /> ${formatNumber(gpu.hashRate, 'size')}H/sec.</div>
                    </div>
                </div>
                `;
            });
        }

        let html = `
            <div id="rig-service-${minerFullName.replaceAll('.', '-')}" class="alert alert-success rig-service">
                <div class="row">
                    <div class="col-12 col-lg-2 text-truncate">
                        <div class="alert alert-dark h4 text-center">${service.miner.name}<br /><small class="text-muted">${alias}</small></div>
                    </div>
                    <div class="col-4 col-lg-2 text-truncate"><b>Algo</b> <br /> ${service.miner.algo}</div>
                    <div class="col-4 col-lg-2 text-truncate"><b>Worker</b> <br /> ${service.miner.worker}</div>
                    <div class="col-4 col-lg-2 text-truncate"><b>Uptime</b> <br /> ${formatNumber(service.miner.uptime, 'seconds')}</div>
                    <div class="col-12 col-lg-3 text-truncate"><b>Hashrate</b> <br /> ${formatNumber(service.miner.hashRate, 'size')}H/sec.</div>
                    <div class="col-12 col-lg-1">
                        <input type="button" value="Stop" class="btn btn-danger w-100" onclick="stopMiner('${miner}', '${alias}')" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-6 col-lg-6 text-truncate"><b>Pool url</b> <br /> ${service.pool.url}</div>
                    <div class="col-6 col-lg-6 text-truncate"><b>Pool account</b> <br /> ${service.pool.account}</div>
                </div>

                ${devicesHtml.length > 0 ? '<br /><h4>Mining devices</h4>' : ''}

                <div>
                    ${devicesHtml}
                </div>
            </div>
        `;

        return html;

    } else {
        // service API is NOT UP

        let html = `
            <div id="rig-service-${minerFullName.replaceAll('.', '-')}" class="alert alert-warning rig-service">
                <div class="row">
                    <div class="col-12 col-lg-2 text-truncate">
                        <div class="alert alert-dark h4 text-center">${miner}<br /><small class="text-muted">${alias}</small></div>
                    </div>
                    <div class="col-4 col-lg-2 text-truncate"></div>
                    <div class="col-4 col-lg-2 text-truncate"></div>
                    <div class="col-4 col-lg-2 text-truncate"></div>
                    <div class="col-12 col-lg-3 text-truncate"></div>
                    <div class="col-12 col-lg-1">
                        <input type="button" value="Stop" class="btn btn-danger w-100" onclick="stopMiner('${miner}', '${alias}')" />
                    </div>
                </div>
                <div class="alert alert-warning">
                    Starting...
                </div>
            </div>
        `;
        return html;
    }
}).join('<br />') %>



<br />

<input type="button" value="Start new service..." class="btn btn-warning" onclick="startMiner()" />


<script>
const minerName = '';

function startMiner(minerAlias='') {
    const onStart = null;
    const onSuccess = () => window.location.reload();
    const onFail = null;
    startMinerModal(minerName, minerAlias, onStart, onSuccess, onFail);
}

function stopMiner(minerName, minerAlias) {
    const minerFullName = `${minerName}-${minerAlias}`;
    const onStart = null;
    const onSuccess = () => {
        jQuery(`#rig-service-${minerFullName.replaceAll('.', '-')}`).remove();
        jQuery('#startMinerModal').remove();
    };
    const onFail = () => {
    };
    stopMinerAjax(minerName, minerAlias, onStart, onSuccess, onFail);
}
</script>


<script>
function modalStartMinerChangeCoin() {
    const $coins = jQuery('#newMiner_coin');
    const $wallets = jQuery('#newMiner_wallet');
    const $pools = jQuery('#newMiner_pool');
    const $miners = jQuery('#newMiner_miner');
    const $extraArgs = jQuery('#newMiner_extraArgs');

    const coin = $coins.val();

    $wallets[0].length = 1;
    $pools.html('<option value=""></option>');

    if (! coin) {
        // no coin selected

        //$miners.children().attr('disabled', true); // disable all miners
        $miners.children().attr('disabled', false); // re-enable all miners

    } else {
        // coin selected


        const coinWallets = coinsUserconf[coin].wallets || {};
        const walletsHtml = Object.entries(coinWallets).map(entry => {
            const [walletName, walletAddress] = entry;
            return `<option value="${walletAddress}">${walletName} : ${walletAddress}</option>`;
        }).join('');
        $wallets.append(walletsHtml);

        if ($wallets[0].length == 2) {
            $wallets[0].selectedIndex = 1;
            $wallets.trigger('change');
        }


        const coinsPools = coinsUserconf[coin].pools || {};
        const poolsHtml = Object.entries(coinsPools).map(entry => {
            const [poolName, poolServers] = entry;

            const htmlOptions = Object.entries(poolServers).map(entry => {
                const [serverName, poolUrl] = entry;
                return `<option value="${poolUrl}">${poolUrl}</option>`;
            });

            let html = '';
            if (htmlOptions.length > 0) {
                html += `<optgroup label="${poolName}">`;
                html += htmlOptions.join('');
                html += `</optgroup`;
            }
            return html;
        }).join('');
        $pools.append(poolsHtml);

        if ($pools[0].length == 2) {
            $pools[0].selectedIndex = 1;
            $pools.trigger('change');
        }


        $miners.children().each((idx, opt) => {
            const $opt = jQuery(opt);
            const minerName = $opt.val();

            if (minerName == '' || (minerName in coinsMiners[coin])) {
                $opt.attr('disabled', false);

            } else {
                $opt.attr('disabled', true);
            }
        });
    }

    if ($miners.children(':selected:disabled').length) {
        $miners.val('');
        $miners.trigger('change');
    }

    if ($miners.children(':not(:disabled)').length == 2) {
        $miners.val( $miners.children(':not(:disabled)')[1].value );
        $miners.trigger('change');
    }
}

function modalStartMinerChangeWallet() {
    const $wallets = jQuery('#newMiner_wallet');
    const $user = jQuery('#newMiner_pool_user');
    $user.val( $wallets.val() );
}

function modalStartMinerChangePool() {
    const $pools = jQuery('#newMiner_pool');
    const $pool = jQuery('#newMiner_pool_url');
    $pool.val( $pools.val() );
}

function modalStartMinerChangeMiner() {
    const $miner = jQuery('#newMiner_miner');
    const $algo = jQuery('#newMiner_algo');
    const $extraArgs = jQuery('#newMiner_extraArgs');
    const $coins = jQuery('#newMiner_coin');

    const coin = $coins.val();
    const miner = $miner.val();

    if (coin && miner) {
        const coinMinerConf = coinsMiners[coin] ? coinsMiners[coin][miner] : null;
        const minerConf = miners[miner];
        $algo.val(coinMinerConf ? coinMinerConf.algo : '');

        let extraArgsArr = [];
        if (minerConf && minerConf.extraArgs && minerConf.extraArgs.trim()) {
            extraArgsArr.push(minerConf.extraArgs.trim());
        }
        if (coinMinerConf && coinMinerConf.extraArgs && coinMinerConf.extraArgs.trim()) {
            extraArgsArr.push(coinMinerConf.extraArgs.trim());
        }
        const extraArgs = extraArgsArr.join(' ');
        $extraArgs.val(extraArgs);
    }

}
</script>


<%
const availableMinersCoins = Object.keys(rigInfos.config.coinsMiners);
const availableCoins = Object.keys(rigInfos.config.coinsUserconf).filter(coin => availableMinersCoins.includes(coin));
%>
<script>

const coinsUserconf = <%- JSON.stringify(rigInfos.config.coinsUserconf, null, 0) %>;

const miners = <%- JSON.stringify(rigInfos.config.miners, null, 0) %>;

const coinsMiners = <%- JSON.stringify(rigInfos.config.coinsMiners, null, 0) %>;

const availableCoins = <%- JSON.stringify(availableCoins, null, 0) %>;

</script>