

<!-- Start miner Modal -->
<div class="modal modal-lg fade" id="startMinerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="startMinerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="startMinerForm" onchange="checkStartMinerForm()">
                <div class="modal-header">
                    <h5 class="modal-title" id="startMinerLabel">Starting a miner</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" id="action" value="" />

                    <!--
                    <div class="mb-3">
                        <label for="newMiner_coin" class="form-label">Coin</label>
                        <select id="newMiner_coin" name="coin" class="form-select" aria-describedby="newMiner_coin_Help">
                            <option></option>
                        </select>
                        <div id="newMiner_coin_Help" class="form-text">optional. used to suggest algos. not yet implemented. do nothing</div>
                    </div>
                    -->

                    <div class="mb-3 d-none">
                        <label for="newMiner_preset" class="form-label">Load config</label>
                        <select id="newMiner_preset" name="preset" class="form-select" aria-describedby="newMiner_preset_Help" onchange="loadStartMinerConfig(this.value)">
                            <option value=""></option>

                            <%- Object.entries({}).map((entry, idx) => {
                                const [poolName, poolConfigs] = entry;

                                let poolHtml = '';

                                if (idx > 0) {
                                    poolHtml += '<option value=""></option>';
                                }

                                poolHtml += '<optgroup label="+ ' + poolName + '">';

                                poolHtml += Object.entries(poolConfigs).map(entry2 => {
                                    const [coinName, preset] = entry2;
                                    if (miner && preset.miner != miner) return;

                                    let coinHtml = '<option value="' + poolName + '.' + coinName + '"> * ' + coinName + '&gt; ' + preset.name + ' (' + preset.miner + ')</option>';
                                    return coinHtml;
                                }).join('');

                                poolHtml += '</optgroup>';

                                return poolHtml;
                            }).join('') %>
                        </select>
                        <div id="newMiner_preset_Help" class="form-text"></div>
                    </div>


                    <div class="mb-3">
                        <label for="newMiner_coin" class="form-label">Coin<sup>*</sup></label>
                        <select id="newMiner_coin" name="coin" class="form-select" aria-describedby="newMiner_coin_Help" onchange="modalStartMinerChangeCoin()">
                            <option></option>

                            <%
                            const availableMinersCoins = Object.keys(rigInfos.config.coinsMiners);
                            const availableCoins = Object.keys(rigInfos.config.coinsUserconf).filter(coin => availableMinersCoins.includes(coin));
                            %>

                            <%- availableCoins.map(coin => {
                                const coinMiners = Object.keys(rigInfos.config.coinsMiners[coin])
                                const installedCoinMiners = coinMiners.filter(miner => rigInfos.status.installedMiners.includes(miner));

                                if (installedCoinMiners.length > 0) {
                                    return '<option value="' + coin + '">' + coin + '</option>';

                                } else {
                                    return `<option value="${coin}" disabled>${coin} (no miner installed. Try to install one of them : ${coinMiners.join(', ')})</option>`;
                                }

                            }).join('') %>
                        </select>
                        <div id="newMiner_coin_Help" class="form-text"></div>
                    </div>


                    <div class="mb-3">
                        <label for="newMiner_wallet" class="form-label">Wallet<sup>*</sup></label>
                        <select id="newMiner_wallet" name="wallet" class="form-select" aria-describedby="newMiner_wallet_Help" onchange="modalStartMinerChangeWallet()">
                            <option></option>
                        </select>
                        <div id="newMiner_wallet_Help" class="form-text"></div>
                    </div>


                    <div class="mb-3">
                        <label for="newMiner_pool" class="form-label">Pool<sup>*</sup></label>
                        <select id="newMiner_pool" name="pool" class="form-select" aria-describedby="newMiner_pool_Help" onchange="modalStartMinerChangePool()">
                            <option></option>
                        </select>
                        <div id="newMiner_pool_Help" class="form-text"></div>
                    </div>

                    <br />
                    <hr />
                    <br />

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="newMiner_miner" class="form-label">Miner<sup>*</sup></label>
                                <select id="newMiner_miner" name="miner" class="form-select required" aria-describedby="newMiner_miner_Help" onchange="modalStartMinerChangeMiner()">
                                    <option></option>

                                    <%- installedMiners.map(miner => {
                                        if (! runnableMiners.includes(miner)) return;

                                        const managedMiners = rigInfos.status.managedMiners;
                                        const isManaged = managedMiners.includes(miner);
                                        //if (! isManaged) return;

                                        let suffix = '';
                                        let disabled = '';

                                        if (! isManaged) {
                                            suffix += ' ⚠️ not managed';
                                        }

                                        if (miner in rigInfos.status.runningMiners) {
                                            suffix += ' ⛔ already running';
                                            disabled = 'disabled';
                                        }

                                        return `<option value="${miner}" ${disabled}>${miner}${suffix}</option>`;
                                    }).join('') %>
                                </select>
                                <div id="newMiner_miner_Help" class="form-text"> &gt; Choose the miner software to run<br />The best choice depends on your hardware and on each coin algorithm</div>
                            </div>

                            <input type="hidden" name="newMiner_alias" value="" /> <!-- TODO: select/option ajax when newMiner_miner changes -->
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label for="newMiner_algo" class="form-label">Algo<sup>*</sup></label>
                                <input type="text" class="form-control required" id="newMiner_algo" name="algo" aria-describedby="newMiner_algo_Help">
                                <div id="newMiner_algo_Help" class="form-text"> &gt; Algorithm of the coin to mine</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="newMiner_pool_url" class="form-label">Pool url<sup>*</sup></label>
                                <input type="text" class="form-control required" id="newMiner_pool_url" name="pool_url" aria-describedby="newMiner_pool_url_Help">
                                <div id="newMiner_pool_url_Help" class="form-text"> &gt; HOST:PORT only (no tcp/stratum/ssl)</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label for="newMiner_worker" class="form-label">Worker</label>
                                <input type="text" class="form-control required" id="newMiner_worker" value="<%=rigInfos.rig.name%>" name="worker" aria-describedby="newMiner_worker_Help" onchange="modalStartMinerChangeWorker()">
                                <div id="newMiner_worker_Help" class="form-text"> &gt; Worker name</div>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="newMiner_pool_user" class="form-label">Pool account<sup>*</sup></label>
                        <input type="text" class="form-control required" id="newMiner_pool_user" name="pool_user" aria-describedby="newMiner_pool_user_Help">
                        <div id="newMiner_pool_user_Help" class="form-text"> &gt; your mining address + worker name<br />Example: myPoolMiningAddress.myWorkerName</div>
                    </div>

                    <div class="mb-3">
                        <label for="newMiner_extraArgs" class="form-label">Miner optional parameters</label>
                        <input type="text" class="form-control" id="newMiner_extraArgs" name="optional_params" aria-describedby="newMiner_extraArgs_Help">
                        <div id="newMiner_extraArgs_Help" class="form-text"> &gt; optional miner arguments<br />Example: -d 0,1,2 -log</div>
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-secondary" onclick="resetStartMinerModalForm()">Reset</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary ms-auto" id="startMinerBtnStart" onclick="startMinerFromModal(window.onStartMinerModalStart, window.onStartMinerModalSuccess, window.onStartMinerModalFail)">Start !</button>
                </div>
            </form>
        </div>
    </div>
</div>
