
Fullnode ${chain}

<hr />

<br />

<h3>Status</h3>
${(() => {
    let html = '';

    if (fullnodeStatus) {
        html += chain + ' is <span class="badge bg-success">running</span>';
        html += '&nbsp;&nbsp;&nbsp;&nbsp;';
        html += '&nbsp;&nbsp;&nbsp;&nbsp;';
        html += '&nbsp; <a class="btn btn-warning btn-sm" href="fullnode-run?chain=${chain}">stop</a>';
        html += '&nbsp;&nbsp;&nbsp;&nbsp;';
        html += '&nbsp; <a class="btn btn-secondary btn-sm" href="fullnode-run?chain=${chain}&action=log">view log</a>';
        //html += '&nbsp; <a class="btn btn-secondary btn-sm" href="fullnode-status?chain=${chain}">detailed status</a>';

    } else {
        html += chain + ' is <span class="badge bg-danger">not running</span>';
        if (installedFullnodes.includes(chain) && configuredFullnodes.includes(chain)) {
            html += '&nbsp; <a class="btn btn-success btn-sm" href="fullnode-run?chain=${chain}">start</a>';
        }
    }

    return html;
})()}

<br />
<br />

<h3>Install</h3>
${(() => {
    let html = '';
    let installTxt = 'install';
    let installClass = 'primary';

    if (installedFullnodes.includes(chain)) {
        html += chain + ' is <span class="badge bg-success">installed</span>';
        installTxt = 're-install';
        installClass = 'warning';

    } else {
        html += chain + ' is <span class="badge bg-danger">not installed</span>';
    }
    html += '<br />';

    if (installablesFullnodes.includes(chain)) {
        html += chain + ' is <span class="badge bg-success">installable</span>';
        html += '&nbsp; <a class="btn btn-' + installClass + ' btn-sm" href="fullnode-install?chain=${chain}">' + installTxt + '</a>';

    } else {
        html += chain + ' is <span class="badge bg-danger">not installable</span>';
        //html += '<a>uninstall</a>';
    }
    html += '<br />';

    if (installStatus) {
        html += chain + ' has <span class="badge bg-warning">installation in progress...</span>';
        html += '&nbsp; <a class="btn btn-primary btn-sm" href="fullnode-install?chain=${chain}">show</a>';

    } else {
        html += chain + ' has <span class="badge bg-success">no installation in progress</span>';
    }

    return html;
})()}

<br />
<br />


<h3>Uninstall</h3>
${(() => {
    let html = '';

    if (installedFullnodes.includes(chain)) {
        html += chain + ' is <span class="badge bg-success">installed</span>';
        html += '&nbsp; <a class="btn btn-danger btn-sm" href="fullnode-uninstall?chain=${chain}">uninstall</a>';

    } else {
        html += chain + ' is <span class="badge bg-danger">not installed</span>';
        //html += '<a>uninstall</a>';
    }
    html += '<br />';

    if (uninstallStatus) {
        html += chain + ' has <span class="badge bg-warning">uninstallation in progress</span>';

    } else {
        html += chain + ' has <span class="badge bg-success">no uninstallation in progress</span>';
    }

    return html;
})()}


<br />
<br />

<h3>Freemining support</h3>
${(() => {
    let html = '';

    if (configuredFullnodes.includes(chain)) {
        html += chain + ' is <span class="badge bg-success">supported</span> on Freemining node manager';

    } else {
        html += chain + ' is <span class="badge bg-danger">not supported</span> on Freemining node manager';
    }

    return html;
})()}

