 
Fullnode ${chain} - install

<hr />

<form id="form-install" method="post">
    <input type="hidden" id="action" name="action" value="" />

    ${(() => {
        let html = '';

        if (fullnodeStatus) {
            html += 'Fullnode is <span class="badge bg-warning">running</span>...';

        } else {
            html += 'Fullnode is <span class="badge bg-success">not running</span>';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopInstall()" href="javascript:void(0)">Stop install</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! fullnodeStatus && ! uninstallStatus) {
                if (installedFullnodes.includes(chain)) {
                    html += ' <a class="btn btn-warning btn-sm" onclick="startInstall()" href="javascript:void(0)">Re-install</a>';

                } else {
                    html += ' <a class="btn btn-primary btn-sm" onclick="startInstall()" href="javascript:void(0)">Install</a>';
                }
            }
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="fullnode-uninstall?chain=${chain}">Stop uninstall</a>';
            html += ' <a class="btn btn-primary btn-sm" href="fullnode-uninstall?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
        }

        return html;
    })()}
</form>


<script>
function startInstall() {
    alertify.confirm("<b>Fullnode installation - confirmation</b>", "Do you want to install the fullnode '<b>${chain}</b>' ?",
        function(){
            alertify.success('Starting ${chain} installation...');

            document.getElementById('action').value = 'start';
            document.getElementById('form-install').submit();
        },
        function(){
            //alertify.error('Cancel');
        }
    );
}

function stopInstall() {
    alertify.confirm("<b>Fullnode installation stopping - confirmation</b>", "Do you want to stop the installation of the fullnode '<b>${chain}</b>' ?",
        function(){
            alertify.success('Stopping ${chain} installation...');

            document.getElementById('action').value = 'stop';
            document.getElementById('form-install').submit();
        },
        function(){
            //alertify.error('Cancel');
        }
    );
}
</script>
