 
Fullnode ${chain} - install

<hr />

<form id="form-install" method="post">
    <input type="hidden" id="action" name="action" value="" />

    Fullnode is

    ${(() => {
        let html = '';

        if (fullnodeStatus) {
            html += '<span class="badge bg-warning">running</span>...';

        } else {
            html += '<span class="badge bg-success">not running</span>';
        }

        return html;
    })()}

    ${(() => {
        let html = '';

        if (installablesFullnodes.includes(chain)) {
            html += '<span class="badge bg-success">installable</span>';

        } else {
            html += '<span class="badge bg-danger">not installable</span>';
        }

        return html;
    })()}

    ${(() => {
        let html = '';

        if (installedFullnodes.includes(chain)) {
            html += '<span class="badge bg-warning">installed</span>';

        } else {
            html += '<span class="badge bg-success">not installed</span>';
        }

        return html;
    })()}

    <br />
    <br />

    ${(() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopFullnodeInstall()" href="javascript:void(0)">Stop install</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! fullnodeStatus && ! uninstallStatus && installablesFullnodes.includes(chain)) {
                if (installedFullnodes.includes(chain)) {
                    html += ' <a class="btn btn-warning btn-sm" onclick="startFullnodeInstall()" href="javascript:void(0)">Re-install</a>';

                } else {
                    html += ' <a class="btn btn-primary btn-sm" onclick="startFullnodeInstall()" href="javascript:void(0)">Install</a>';
                }
            }
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="fullnode-uninstall?chain=${chain}">Stop uninstall</a>';
            html += ' <a class="btn btn-primary btn-sm" href="fullnode-uninstall?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
        }

        return html;
    })()}
</form>


<script>
const fullnodeName = '${chain}';

function startFullnodeInstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    startFullnodeInstallAjax(fullnodeName, onStart, onSuccess, onFail);
}

function stopFullnodeInstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    stopFullnodeInstallAjax(fullnodeName, onStart, onSuccess, onFail);
}
</script>
