 
Fullnode ${chain} - run

<hr />

<form id="form-run" method="post">
    <input type="hidden" id="action" name="action" value="" />

    ${(() => {
        let html = '';

        if (fullnodeStatus) {
            html += 'Fullnode is running...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopFullnode()" href="javascript:void(0)">Stop Fullnode</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running instance.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" onclick="startFullnode()" href="javascript:void(0)">Start</a>';
        }

        return html;
    })()}
</form>


<script>
const fullnodeName = '${chain}';

function startFullnode() {
    const optionalParams = '';

    const onStart = null;
    const onSuccess = () => window.location.reload();
    const onFail = null;
    startFullnodeAjax(fullnodeName, optionalParams, onStart, onSuccess, onFail);
}

function stopFullnode() {
    const onStart = null;
    const onSuccess = () => window.location.reload();
    const onFail = null;
    stopFullnodeAjax(fullnodeName, onStart, onSuccess, onFail);
}

</script>

