 
Fullnode ${chain} - uninstall

<hr />

<form id="form-uninstall" method="post">
    <input type="hidden" id="action" name="action" value="" />

    Fullnode is

    ${(() => {
        let html = '';

        if (fullnodeStatus) {
            html += '<span class="badge bg-warning">running</span>...';

        } else {
            html += '<span class="badge bg-success">not running</span>';
        }

        return html;
    })()}

    ${(() => {
        let html = '';

        if (installedFullnodes.includes(chain)) {
            html += '<span class="badge bg-success">installed</span>';

        } else {
            html += '<span class="badge bg-danger">not installed</span>';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="fullnode-install?chain=${chain}">Stop install</a>';
            html += ' <a class="btn btn-primary btn-sm" href="fullnode-install?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopFullnodeUninstall()" href="javascript:void(0)">Stop uninstall</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?chain=${chain}&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! fullnodeStatus && ! installStatus && installedFullnodes.includes(chain)) {
                html += ' <a class="btn btn-danger btn-sm" onclick="startFullnodeUninstall()" href="javascript:void(0)">Uninstall</a>';
            }
        }

        return html;
    })()}
</form>


<script>
const fullnodeName = '${chain}';

function startFullnodeUninstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    startFullnodeUninstallAjax(fullnodeName, onStart, onSuccess, onFail);
}

function stopFullnodeUninstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    stopFullnodeUninstallAjax(fullnodeName, onStart, onSuccess, onFail);
}
</script>
