

<h1 class="h3">Rig Management</h1>

<hr />

<h2 class="h4">Active processes</h2>
<pre>
${activeProcesses}
</pre>

<br />

<a href="/status">Rig Status</a>

<br />
<br />


<h2 class="h4">Installed miners</h2>
<ul>
    ${installedMiners.map(minerName => {
        if (! minerName.trim()) return;

        if (minerName in rig.services) {
            return '<li><a href="miners/miner?miner=' + minerName + '">' + minerName + '</a></li>';
        } else {
            return '<li>' + minerName + '</li>';
        }
    }).join('')}
</ul>


<br />
<br />

<h2 class="h4">Installable miners</h2>
<ul>
    ${installablesMiners.map(minerName => {
        if (! minerName.trim()) return;
        return '<li>' + minerName + '</li>';
    }).join('')}
</ul>
