

<h1 class="h3">Rig Management</h1>

<hr />

<div>

    <h1 class="d-inline-block">
        RIG: <b>${rig.rig.hostname}</b>
    </h1>

    <div class="d-inline-block h3 ms-3">
        ${rig.dataAge > 10 ? 
            `<span class="badge bg-danger">Offline</span>`
            : 
            `<span class="badge bg-success">UP</span>`
        }
    </div>
    <div class="d-inline-block h3 ms-3">
        <a href="./rig?rig=${rig.rig.hostname}" class="btn btn-secondary">🌀 refresh</a>
    </div>

    <small class="d-inline-block ms-3">
        Data age: <span id="dataAge">${Math.round(Date.now()/1000 - rig.rig.dateRig)}</span> sec. ago
    </small>

</div>

<br />
<br />

<h2>System informations</h2>

<div class="alert alert-secondary">
    <div class="row">
        <div class="mb-2 col-6 col-lg-2"><b>Hostname</b> <br /> ${rig.rig.hostname}</div>
        <div class="mb-2 col-6 col-lg-2"><b>IP</b> <br /> ${rig.rig.ip}</div>
        <div class="mb-2 col-12 col-lg"><b>OS</b> <br /> ${rig.rig.os}</div>
        <div class="mb-2 col-4 col-lg-1"><b>Load avg</b> <br /> ${rig.rig.loadAvg}</div>
        <div class="mb-2 col-4 col-lg-2"><b>Uptime</b> <br /> ${formatNumber(rig.rig.uptime)} sec.</div>
        <div class="mb-2 col-4 col-lg-2"><b>Memory usage</b> <br /> ${formatNumber(rig.rig.memory.used)} / ${formatNumber(rig.rig.memory.total)} MB</div>
    </div>
</div>

<br />
<br />

<h2>Hardware devices</h2>

<div class="alert alert-secondary">
    <div class="row">
        <div class="col-12">
            <b>CPU</b>
        </div>
        <div class="col-12">
            <div class="border border-dark rounded bg-light m-1 p-1">
                ${rig.rig.devices.cpu.threads} X ${rig.rig.devices.cpu.name}
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <b>GPU</b>
        </div>
        ${rig.rig.devices.gpu.map(gpu => {
            return `
                <div class="col-12 col-lg-6">
                    <div class="border border-primary rounded bg-light m-1 p-1">
                        #${gpu.id} : ${gpu.name} [driver=${gpu.driver}]
                    </div>
                </div>
            `;
        }).join('')}
    </div>
</div>


<br />
<br />


<h2>Mining services</h2>

${Object.entries(rig.services).map(entry => {
    const [serviceName, service] = entry;

    let devicesHtml = '';

    if (service.cpu.length > 0) {
        const cpu = service.cpu[0];

        devicesHtml += `
        <div class="border border-dark rounded bg-light">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2"><b>CPU</b> # <br /> ${cpu.id}</div>
                <div class="col-7"><b>Name</b> <br /> ${cpu.name}</div>
                <div class="col-2"><b>Hashrate</b> <br /> ${formatNumber(cpu.hashRate)}/sec.</div>
            </div>
        </div>
        `;
    }

    if (service.gpu.length > 0) {
        service.gpu.forEach(gpu => {
            devicesHtml += `
            <div class="border border-dark rounded bg-light my-2">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2"><b>GPU #</b> <br /> ${gpu.id}</div>
                    <div class="col-5"><b>Name</b> <br /> ${gpu.name}</div>
                    <div class="col-1"><b>Temperature</b> <br /> ${gpu.temperature}°</div>
                    <div class="col-1"><b>Fan speed</b> <br /> ${gpu.fanSpeed}%</div>
                    <div class="col-2"><b>Hashrate</b> <br /> ${formatNumber(gpu.hashRate)}/sec.</div>
                </div>
            </div>
            `;
        });
    }

    let html = `
        <div id="rig-service-${serviceName}" class="alert alert-success rig-service">
            <div class="row">
                <div class="col-12 col-lg-2 text-truncate"><div class="alert alert-dark h4 text-center">${serviceName}</div></div>
                <div class="col-4 col-lg-2 text-truncate"><b>Algo</b> <br /> ${service.worker.algo}</div>
                <div class="col-4 col-lg-2 text-truncate"><b>Worker</b> <br /> ${service.worker.name}</div>
                <div class="col-4 col-lg-2 text-truncate"><b>Uptime</b> <br /> ${formatNumber(service.worker.uptime)} sec.</div>
                <div class="col-12 col-lg-3 text-truncate"><b>Hashrate</b> <br /> ${formatNumber(service.worker.hashRate)}/sec.</div>
                <div class="col-12 col-lg-1">
                    <input type="button" value="Stop" class="btn btn-danger w-100" onclick="stopService('${serviceName}')" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-6 col-lg-6 text-truncate"><b>Pool url</b> <br /> ${service.pool.url}</div>
                <div class="col-6 col-lg-6 text-truncate"><b>Pool account</b> <br /> ${service.pool.account}</div>
            </div>

            ${devicesHtml.length > 0 ? '<br /><h4>Mining devices</h4>' : ''}

            <div>
                ${devicesHtml}
            </div>
        </div>
    `;

    return html;
}).join('<br />')}


<br />

<input type="button" value="Start new service..." class="btn btn-warning" onclick="startServiceModal()" />

<!--
<br />
<br />

<input type="button" value="Start xmrig" class="btn btn-warning" onclick="testStart()" />
-->


<div id="modals">

    <!-- Start service Modal -->
    <div class="modal fade" id="startServiceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="startServiceLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="startServiceForm" onchange="checkForm()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="startServiceLabel">Starting a service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="action" id="action" value="" />

                        <!--
                        <div class="mb-3">
                            <label for="newService_coin" class="form-label">Coin</label>
                            <select id="newService_coin" name="coin" class="form-select" aria-describedby="newService_coin_Help">
                                <option></option>
                            </select>
                            <div id="newService_coin_Help" class="form-text">optional. used to suggest algos. not yet implemented. do nothing</div>
                        </div>
                        -->

                        <div class="mb-3">
                            <label for="newService_preset" class="form-label">Load config</label>
                            <select id="newService_preset" name="preset" class="form-select" aria-describedby="newService_preset_Help" onchange="loadConfig(this.value)">
                                <option value=""></option>

                                ${Object.entries(presets).map(entry => {
                                    const [poolName, poolConfigs] = entry;

                                    let poolHtml = '';
                                    poolHtml += '<optgroup label="' + poolName + '">';

                                    poolHtml += Object.entries(poolConfigs).map(entry2 => {
                                        const [coinName, preset] = entry2;
                                        let coinHtml = '<option value="' + poolName + '.' + coinName + '">' + coinName + '&gt; ' + preset.name + '</option>';
                                        return coinHtml;
                                    }).join('');

                                    poolHtml += '</optgroup>';

                                    return poolHtml;
                                }).join('')}
                            </select>
                            <div id="newService_preset_Help" class="form-text"></div>
                        </div>

                        <div class="mb-3">
                            <label for="newService_miner" class="form-label">Miner<sup>*</sup></label>
                            <select id="newService_miner" name="miner" class="form-select required" aria-describedby="newService_miner_Help">
                                <option></option>

                                ${miners.map(miner => {
                                    if (miner in rig.services) {
                                        return '<option value="' + miner + '" disabled>' + miner + '</option>';

                                    } else {
                                        return '<option value="' + miner + '">' + miner + '</option>';
                                    }
                                }).join('')}
                            </select>
                            <div id="newService_miner_Help" class="form-text"> &gt; Choose the miner software to run<br />The best choice depends on your hardware and on each coin algorithm</div>
                        </div>

                        <div class="mb-3">
                            <label for="newService_algo" class="form-label">Algo<sup>*</sup></label>
                            <input type="text" class="form-control required" id="newService_algo" name="algo" aria-describedby="newService_algo_Help">
                            <div id="newService_algo_Help" class="form-text"> &gt; Algorithm of the coin to mine</div>
                        </div>

                        <div class="mb-3">
                            <label for="newService_pool_url" class="form-label">Pool url<sup>*</sup></label>
                            <input type="text" class="form-control required" id="newService_pool_url" name="pool_url" aria-describedby="newService_pool_url_Help">
                            <div id="newService_pool_url_Help" class="form-text"> &gt; HOST:PORT only (no tcp/stratum/ssl)</div>
                        </div>

                        <div class="mb-3">
                            <label for="newService_pool_account" class="form-label">Pool account<sup>*</sup></label>
                            <input type="text" class="form-control required" id="newService_pool_account" name="pool_account" aria-describedby="newService_pool_account_Help">
                            <div id="newService_pool_account_Help" class="form-text"> &gt; your mining address + worker name<br />Example: myPoolMiningAddress.myWorkerName</div>
                        </div>

                        <div class="mb-3">
                            <label for="newService_optional_params" class="form-label">Miner optional parameters</label>
                            <input type="text" class="form-control" id="newService_optional_params" name="optional_params" aria-describedby="newService_optional_params_Help">
                            <div id="newService_optional_params_Help" class="form-text"> &gt; optional miner arguments<br />Example: -d 0,1,2 -log</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="submitForm()">Start !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



<script>
let hasSubmited = false;
function checkForm() {
    // check form errors
    const allFields = Array.from(document.getElementsByClassName('required'));
    const requiredFields = Array.from(document.getElementsByClassName('required'));

    allFields.forEach(field => {
        if (! hasSubmited) return;
        field.style.borderColor = '';
    });

    const errorFields = requiredFields.filter(field => ! field.value);
    if (errorFields.length) {
        errorFields.forEach(field => {
            if (! hasSubmited) return;
            field.style.borderColor = '#f1aeb5';
        });
        return false;
    }
    return true;
}
function submitForm() {
    hasSubmited = true;
    if (! checkForm()) return;

    // submit form
    //document.getElementById('action').value = 'start';
    //document.getElementById('startServiceForm').submit();

    const serviceName = jQuery('#newService_miner').val();
    const algo = jQuery('#newService_algo').val();
    const poolUrl = jQuery('#newService_pool_url').val();
    const poolAccount = jQuery('#newService_pool_account').val();
    const optionalParams = jQuery('#newService_optional_params').val();

    startService(serviceName, algo, poolUrl, poolAccount, optionalParams);
}
</script>

<script>
let startServiceModalObj = null;
function startServiceModal() {
    const options = {};
    const modal = document.getElementById('startServiceModal');
    startServiceModalObj = new bootstrap.Modal(modal, options);
    startServiceModalObj.show();
}

function testStart() {
    alertify.confirm("DEBUG/TEST - xmrig", "Do you want to start <b>xmrig</b> with the default parameters ?",
        function(){
            const poolUrl = 'xmrpool.eu:5555';
            const poolAccount = '46jYYGCiFQbfyUNWkhMyyB2Jyg1n3yGGPjfYjbjsq6SBarcH66i3RodSiGjJfx2Ue74dUFi4bFwxKaUbt2aurBjJEySsMrH+${rig.rig.hostname}';
            startService('xmrig', 'rx/0', poolUrl, poolAccount, '')
        },
        function(){
            //alertify.error('Cancel');
        }
    );
}

function startService(serviceName, algo, poolUrl, poolAccount, optionalParams='') {
    if (! serviceName) return;
    if (! algo) return;
    if (! poolUrl) return;
    if (! poolAccount) return;

    const url = '/api/rig/service/start';
    const data = {
        rig: '${rig.rig.hostname}',
        service: serviceName,
        algo: algo,
        poolUrl,
        poolAccount,
        optionalParams: optionalParams || '',
    };

    jQuery.post(url, data).then(() => {
        //jQuery('body').addClass('opacity-25');

        alertify.success('Service ' + serviceName + ' started');

        //setTimeout(() => {
        //    window.location.reload();
        //}, 2_000)

        startServiceModalObj.hide();
    });
}

function stopService(serviceName) {
    if (! serviceName) return;

    alertify.confirm("<b>Service stopping - confirmation</b>", "Do you want to stop the service '<b>" + serviceName + "</b>' ?",
        function(){
            alertify.success('Stopping service ' + serviceName + '...');

            const $service = jQuery('#rig-service-' + serviceName);
            $service.addClass('opacity-25');

            const url = '/api/rig/service/stop';
            const data = {
                rig: '${rig.rig.hostname}',
                service: serviceName,
            };
            jQuery.post(url, data).then(() => {
                $service.removeClass('opacity-25');
                //jQuery('body').addClass('opacity-25');

                alertify.success('Service ' + serviceName + ' stopped');

                //setTimeout(() => {
                //    window.location.reload();
                //}, 2_000)

                startServiceModalObj.hide();
            });
        },
        function(){
            //alertify.error('Cancel');
        }
    );

}

function loadConfig(selectedPreset) {
    //const $presetsSelect = jQuery('#newService_preset');
    const parts = selectedPreset.split('.');

    if (parts.length != 2) {
        jQuery('#newService_miner').val('');
        jQuery('#newService_algo').val('');
        jQuery('#newService_pool_url').val('');
        jQuery('#newService_pool_account').val('');
        jQuery('#newService_optional_params').val('');
        return;
    }
    const [part1, part2] = parts;

    const config = presets[part1][part2];

    jQuery('#newService_miner').val(config.miner);
    jQuery('#newService_algo').val(config.algo);
    jQuery('#newService_pool_url').val(config.poolUrl);
    jQuery('#newService_pool_account').val(config.poolAccount);
    jQuery('#newService_optional_params').val(config.args);
}

const presets = ${JSON.stringify(presets)};


//setInterval(() => {
//    const age = jQuery('#dataAge').text();
//    jQuery('#dataAge').text(age*1 + 1);
//}, 1000);

</script>

