 
Miner ${miner} - uninstall

<hr />

<form id="form-uninstall" method="post">
    <input type="hidden" id="action" name="action" value="" />

    Miner is 

    ${(() => {
        let html = '';

        if (minerStatus) {
            html += '<span class="badge bg-warning">running</span>...';

        } else {
            html += '<span class="badge bg-success">not running</span>';
        }

        return html;
    })()}

    ${(() => {
        let html = '';

        if (installedMiners.includes(miner)) {
            html += '<span class="badge bg-success">installed</span>';

        } else {
            html += '<span class="badge bg-danger">not installed</span>';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="miner-install?miner=${miner}">Stop install</a>';
            html += ' <a class="btn btn-primary btn-sm" href="miner-install?miner=${miner}&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopMinerUninstall()" href="javascript:void(0)">Stop uninstall</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?miner=${miner}&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! minerStatus && ! installStatus && installedMiners.includes(miner)) {
                html += ' <a class="btn btn-danger btn-sm" onclick="startMinerUninstall()" href="javascript:void(0)">Uninstall</a>';
            }
        }

        return html;
    })()}
</form>


<script>
const minerName = '${miner}';

function startMinerUninstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    startMinerUninstallAjax(minerName, onStart, onSuccess, onFail);
}

function stopMinerUninstall() {
    const onStart = null;
    const onSuccess = null;
    const onFail = null;
    stopMinerUninstallAjax(minerName, onStart, onSuccess, onFail);
}
</script>
