 
Miner ${miner} - uninstall

<hr />

<form id="form-uninstall" method="post">
    <input type="hidden" id="action" name="action" value="" />

    ${(() => {
        let html = '';

        if (minerStatus) {
            html += 'Miner is <span class="badge bg-warning">running</span>...';

        } else {
            html += 'Miner is <span class="badge bg-success">not running</span>';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (installStatus) {
            html += 'Installation in progress...';
            html += ' <a class="btn btn-danger btn-sm" href="miner-install?miner=${miner}">Stop install</a>';
            html += ' <a class="btn btn-primary btn-sm" href="miner-install?miner=${miner}&action=log">Show logs</a>';

        } else {
            html += 'No running installation.';
        }

        return html;
    })()}

    <br />

    ${(() => {
        let html = '';

        if (uninstallStatus) {
            html += 'Uninstallation in progress...';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-danger btn-sm" onclick="stopUninstall()" href="javascript:void(0)">Stop uninstall</a>';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';
            html += ' <a class="btn btn-primary btn-sm" href="?miner=${miner}&action=log">Show logs</a>';

        } else {
            html += 'No running uninstallation.';
            html += '&nbsp;&nbsp;&nbsp;&nbsp;';

            if (! minerStatus && ! installStatus && installedMiners.includes(miner)) {
                html += ' <a class="btn btn-danger btn-sm disabled" onclick="startUninstall()" href="javascript:void(0)" disabled>Uninstall</a>';
            }
        }

        return html;
    })()}
</form>


<script>
function startUninstall() {
    alertify.confirm("<b>Miner uninstallation - confirmation</b>", "Do you want to uninstall the miner '<b>${miner}</b>' ?",
        function(){
            alertify.success('Starting miner ${miner} uninstallation...');

            document.getElementById('action').value = 'start';
            document.getElementById('form-uninstall').submit();

        },
        function(){
            //alertify.error('Cancel');
        }
    );
}

function stopUninstall() {
    alertify.confirm("<b>Miner uninstallation stopping - confirmation</b>", "Do you want to stop the uninstallation of the miner '<b>${miner}</b>' ?",
        function(){
            alertify.success('Stopping miner ${miner} uninstallation...');
            document.getElementById('action').value = 'stop';
            document.getElementById('form-uninstall').submit();
        },
        function(){
            //alertify.error('Cancel');
        }
    );
}
</script>
